@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0PX;
}


/* product */


.productsContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 40px ;
    width: 100%;
    padding: 10px;
    justify-content: end;
    gap: 15px;
}


.productCard{
    text-decoration: none;
    width: 300px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgba(0,47,52,.2);
    overflow: hidden;
    border-radius: 4px;

}

/* .product{
    width: 300px;

} */

.productImageContainer{
    width: 100%;
    display: flex;
    align-self: center;
    padding: 5px 18px;
}

.product_image{
    width: 100%;
    height: 160px;
}


.product_pricing{
    border-left: 5px solid #ffce32;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding: 8px 16px;
}

.product_price{
    direction: ltr;
    font-weight: 700;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #002f34;
    font-size: 20px;
}

.product_title{
    color: #002f34;
    font-size: 14px;
    margin: 2px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.product_description{
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}



/* product pages styling */

.pageStyle{
    display: flex;
    flex-direction: row;

}

.filter_class{
    font-size: 18px;
    margin: 10px 16px;
    color: #002f34;
    font-weight: 600;
}
.drawer_container{
    padding: 10px;
    width: 30%;

}

.drawer{
    margin: 10px 10px 4px 0px;
}


.product_top_title{
    font-size: 48px;
    margin: 0 10px 8px;
    color: #002f34;
}

.collapsebtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px ;
    border-width: 0px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    border-top: 1px solid rgba(0,47,52,.2);
}

.collapsebtn:focus,.collapsebtn:active{
    background-color: #EFEFEF;
    outline: none;
}


.catogory_list{
    color: rgba(0,47,52,.64);
    display: inline-block;
    padding: 16px;
    position: relative;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}