@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*  header top */
body{
  overflow-x: hidden;
}
.Main_header_Comp {
  background-color: #002f3408;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px;
  align-items: center;
  gap: 15px;
  background-color: #f7f8f8;
}

.inp {
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.inp:focus {
  border-color: blue;
}

.field {
  border: none;
  outline: none;
}

.btnChv, .btnChv:focus {
  border: none;
  background-color: white;
  outline: none;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.logo {
  margin: 10px;
}

/* text field styling */

.textfield {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.searchicon {
  background: #000;
}

.iconstyle {
  font-size: 20px;
}

/* log in btn */

.loginbtn {
  border: none;
  font-weight: 800;
  border-bottom: 2px double black;
  background-color: rgb(247, 248, 248) !important;
  padding: 0%;
  margin: 0px 20px 0 5px;
  letter-spacing: 0.1em;
  height: 40px;
}

.loginbtn:hover {
  border-bottom: 2px double rgb(247, 248, 248);
}

/* sellnoe btn  */

.SellNow {
  border-radius: 100px;
  padding: 10px;
  border: 2px solid  linear-gradient(90deg, red, yellow,blue);
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  color: #002f34;
  text-decoration: none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 4px 5px 0 rgba(0, 0, 0, .14);
}

/* login Btn fb,google,email,phone */

.Model_container {
  margin: 0 16px;
  padding: 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #fff;
  width: 400px;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  height: 584px;
}

.logInbtn {
  color: #002f34;
  font-size: 16px;
  padding: 10px 10px;
  margin: 4px 0;
  border-radius: 4px;
  font-weight: 700;
  border: 4px solid rgb(2, 84, 94);
}

.logInbtn:hover {
  border: 4px solid rgb(8, 8, 8);
}

.logInbtn:focus-within{
  outline: none;
}
/* nav bar styling */

.navlinkmain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  width: calc(100% - 152px);
  margin: 5px 0 0 0;
}

.navLink {
  color: #002f34;
  font-size: 14px;
  font-weight: 400;
}

.navLink:hover {
  text-decoration: none;
  color: rgb(0, 164, 159);
}

/* category btn styling with list */

.NavLinkDropdown {
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.NavLinkDropdownSub {
  color: #002f34;
  font-size: 14px;
  font-weight: 400;
}

.NavLinkDropdown:hover, .NavLinkDropdownSub:hover {
  text-decoration: none;
  color: rgb(0, 164, 159);
}

.categorylinks {
  gap: 20px;
  padding: 20px 15px;
  z-index: 100000000;
}

/* Front image */

/* .div_Frontpicture{
  width: 800px;
} */

.Frontpicture {
  background-image: url('images/Frontpicture.jpg');
  height: 252px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 0;
}

@media only screen and (max-width: 1024px) and (min-width: 540px) {
  .Frontpicture {
    position: relative;
    top: 0;
    width: 100%;
  }
}

/* Ads */

.AdImg {
  
  padding: 3% 15%;
}

.Ad {
  position: relative;
  top: 10px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  width: 970px;
  height: 250px;
  text-align: center;
}

/* bottom area */

/* image background */

.storeLinks {
  background-color: #f7f8f8;
  display: flex;
}

/* image */

.imgapp {
  margin: 0 44px;
}

.linkText {
  /* padding: 20px 0 0 0; */
  /* border: 1px solid; */
  margin: 30px 0 30px 0 !important;
  border-right: 2px solid rgba(0, 47, 52, 0.2);
  /* margin-left: 44px; */
}

.textHeading {
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}

.textspan {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

/* button div */

.linkBtn {
  margin-left: 44px;
  padding: 60px 100px 10px 0;
}

.btndiv {
  display: flex;
  /* flex-wrap: wrap; */
}

/* dropdown menu */

#dropdown-button-drop-right, .dropdown-button-drop-right {
  background-color: transparent;
  list-style: none;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  line-height: 2;
  color: rgba(0, 47, 52, .64);
  border: 1px solid gray;
  border-radius: 0;
}

#dropdown-button-drop-right, #dropdown-button-drop-right:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none;
}

/* #dropdown-button-drop-right:focus-within{
  color: #ff993d;
  
} */

/* textFieldstyling */

.textFieldstyling {
  border: "2px solid black";
  padding: '5px';
  border-radius: '5px';
}


/* dropright */


.dropbtn {
  background-color:  #FAFAFA;
  color: rgba(0,47,52,.64);
  padding: 16px ;
  font-size: 16px;
  width: 435px;
  border: 0px solid rgb(216, 214, 214);
  display: flex;
  align-items: center;
    
}
.dropbtn:focus-within, .dropbtn:active{
  outline: none;
  background-color: #ccd5d6;
  color: rgba(0, 47, 52, 0.726);;
}
.dropup {
  position: relative;
  display: inline-block;
  border: 1px solid rgb(226, 226, 226);
}

.drop{
  display: flex;
  align-items: center;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  max-width: 100%;
  left: 100%;
  top: 0px;
  z-index: 1;
  
}

.dropup-content a {
  color: rgba(0,47,52,.64);
  font-size: 16px;
  padding:  18px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:focus-within .dropup-content {
  display: block;
  outline: none;
}

.dropup:focus-within .dropbtn {
  background-color:#ccd5d6;
}


.chev_container{
  text-align: end;
  
}

